{% extends 'layout.html' %}

{% block title %}
<title>Delete</title>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-info display-4 text-white p-5">
  <i class="far fa-address-book"></i>
  Delete
</div>

<div class="container-fluid w-50 mx-auto">    
  <div class="card">
    <div class="card-header">
      Are you sure to delete the account?
    </div>
    <div class="card-body">
      <form action="/del_user/{{current_user.id}}" method="post">
        <div class="form-group text-center">
          <input type="password" class="form-control" name="password" id="" placeholder="Please enter password">
          <br>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      </form>
    </div>
  </div>          
</div>
{% endblock %}