{% extends 'layout.html' %}

{% block title %}
<title></title>
{% endblock %}

{% block content %}
<div class="container-fluid">    
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img class="card-img-top" src="img-1.jpeg" alt="Card image cap">
        </div>
        <div class="card-body">
          <div class="card-body text-center">
            <div class="mb-5">
              <h5 class="card-title">{{current_user.name}}</h5>
            </div>
            <a href="/get_user/{{current_user.id}}" class="btn btn-primary">View Profile</a>
            <a href="/get_following/{{current_user.id}}" class="btn btn-secondary">Following</a>
            <a href="/get_follower/{{current_user.id}}" class="btn btn-secondary">Follower</a>
          </div>
        </div>
      </div>          
    </div>
    <div class="col-md-6">
      {% with success = get_flashed_messages(category_filter=["tweet_successful"])%}
        {% if success %}
        <div class="alert alert-success">
          {% for msg in success %}
            <p>{{msg}}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      {% with error = get_flashed_messages(category_filter=["tweet_error"])%}
        {% if error %}
        <div class="alert alert-danger">
          {% for msg in error %}
            <p>{{msg}}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      <div class="card bg-info text-light p-3">
        <p>tweet</p>
        <form action="/add_post/{{current_user.id}}" method="post">        
          <div class="form-group">
            <input type="text" name="title" class="form-control" id="" placeholder="Title">
            <input type="text" name="content" class="form-control" id="" placeholder="What's Happening?">
          </div>
          <div class="form-group text-right mb-0">
            <input type="submit" value="Tweet" class="btn btn-outline-light">
          </div>
        </form>
      </div>
      <br>
      {% for post in posts %}
        <div class="card text-left p-3">
          <div class="row">
            <div class="col-lg-6">
              <h4>@{{post.editor_posts.name}}</h4>
            </div>            
            <div class="col-lg-6">
              <div class="form-group text-right mb-0">
                <a href="/get_post/{{post.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="/del_post/{{post.id}}" class="btn btn-sm btn-outline-danger">Delete</a>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h4>{{loop.index}}. {{post.title}}</h4>
            </div>            
            <div class="col-lg-6 text-right">
              <h4>{{post.update_at}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>{{post.content}}</p>
            </div>            
          </div>
          <form action="/add_comment/{{current_user.id}}" method="post">
            <div class="input-group">
              <input type="hidden" name="post_id" class="form-control" value="{{post.id}}">
              <input type="text" name="comment" class="form-control" placeholder="Comment">
              <div class="input-group-append">
                <input type="submit" value="Add" class="btn btn-success">
              </div>
            </div>
          </form>
          <br>
          {% for comment in post.comments %}
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    @{{comment.editor_comments.name}}
                  </div>
                  <div class="col-lg-6 text-right">
                    {{comment.update_at}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    {{loop.index}}.{{comment.comment}}
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group text-right mb-0">
                      <a href="/get_comment/{{comment.id}}" class="text-primary"><i class="fas fa-pencil-alt"></i></a>
                      <a href="/del_comment/{{comment.id}}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>  
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}